
@{
    ViewBag.Title = "BaiHai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h1>NeTa shop</h1>
            <ul class="list-group">
                <li class="list-group-item">Category 1</li>
                <li class="list-group-item">Category 2</li>
                <li class="list-group-item">Category 3</li>
            </ul>
        </div>
        <div class="col-md-9">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Content/image/laptopHPgaming.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Content/image/laptopHPgaming.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Content/image/laptopHPgaming.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </button>
            </div>
            <div class="row Cards">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <img src="~/Content/image/laptopHPgaming.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3>Sản phẩn one</h3>
                            <h4>$24.99</h4>
                            <p>Some example text some example text. John Doe is an architect and engineer</p>
                        </div>
                        <div class="card-footer">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <img src="~/Content/image/laptopHPgaming.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3>Sản phẩn one</h3>
                            <h4>$24.99</h4>
                            <p>Some example text some example text. John Doe is an architect and engineer</p>
                        </div>
                        <div class="card-footer">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <img src="~/Content/image/laptopHPgaming.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3>Sản phẩn one</h3>
                            <h4>$24.99</h4>
                            <p>Some example text some example text. John Doe is an architect and engineer</p>
                        </div>
                        <div class="card-footer">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row Cards">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <img src="~/Content/image/laptopHPgaming.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3>Sản phẩn one</h3>
                            <h4>$24.99</h4>
                            <p>Some example text some example text. John Doe is an architect and engineer</p>
                        </div>
                        <div class="card-footer">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <img src="~/Content/image/laptopHPgaming.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3>Sản phẩn one</h3>
                            <h4>$24.99</h4>
                            <p>Some example text some example text. John Doe is an architect and engineer</p>
                        </div>
                        <div class="card-footer">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <img src="~/Content/image/laptopHPgaming.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3>Sản phẩn one</h3>
                            <h4>$24.99</h4>
                            <p>Some example text some example text. John Doe is an architect and engineer</p>
                        </div>
                        <div class="card-footer">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
@section links{
    <link href="~/Content/css/BaiHai.css" rel="stylesheet" />
}
